<div class="modal-body">
  <div *ngIf="annonce.pictures">
    <ngb-carousel>
      <div *ngFor="let pic of annonce.pictures">
        <ng-template ngbSlide>
          <img class="d-block w-100" src="{{pic}}">
        </ng-template>
      </div>
    </ngb-carousel>
  </div>

  <h4 class="title">{{annonce.title}}</h4>
  <hr />
  <app-annonce-info [annonce]="annonce" [isDetail]="true"></app-annonce-info>
  <hr />
  <div [innerHTML]="annonce.description | safeHtml"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="delete()">Supprimer</button>
  <a [href]="annonce.link" target="_blank" class="btn btn-primary">Ouvrir l'annonce</a>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
</div>
