<div class="jumbotron">
  <div class="row">
    <div *ngFor="let annonce of annonces" class="col-sm-4 py-2">
      <div class="card" (click)="open(annonce)">
        <div *ngIf="annonce.pictures">
          <img class="card-img-top img-fluid" src="{{annonce.pictures[0]}}">
        </div>
        <div class="card-img-overlay">
          <button type="button" class="close pull-right" aria-label="Close" (click)="delete($event, annonce)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <app-annonce-info [annonce]="annonce"></app-annonce-info>
        </div>

        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <i class="fa fa-calendar" aria-hidden="true"></i> {{annonce.created | date:'mediumDate':'':'fr'}}
            </div>
            <div class="col">
              <a href="{{annonce.link}}" class="text-muted"><i class="fa fa-globe" aria-hidden="true"></i> {{annonce.site}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
