.jumbotron {
  background-color: aliceblue;
  margin-top: 15px;
}

.card-img-overlay {
  opacity: 0;
  padding: 0 0.75rem;
}

.close {
  color: lightcoral;
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 1;
  text-shadow: none;
}

.card:hover .card-img-overlay {
  opacity: 1;
}
